<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>almacen-web</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/SpringContexto.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<display-name>AlmacenServlet</display-name>
		<servlet-name>AlmacenServlet</servlet-name>
		<servlet-class>axa.egpp.bo.almacen.web.AlmacenServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>EstadoServlet</display-name>
		<servlet-name>EstadoServlet</servlet-name>
		<servlet-class>axa.egpp.bo.almacen.web.EstadoServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>GrupoProductoServlet</display-name>
		<servlet-name>GrupoProductoServlet</servlet-name>
		<servlet-class>axa.egpp.bo.almacen.web.GrupoProductoServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>ProductoServlet</display-name>
		<servlet-name>ProductoServlet</servlet-name>
		<servlet-class>axa.egpp.bo.almacen.web.ProductoServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>ProveedorServlet</display-name>
		<servlet-name>ProveedorServlet</servlet-name>
		<servlet-class>axa.egpp.bo.almacen.web.ProveedorServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>UsuarioServlet</display-name>
		<servlet-name>UsuarioServlet</servlet-name>
		<servlet-class>axa.egpp.bo.almacen.web.UsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlmacenServlet</servlet-name>
		<url-pattern>AlmacenServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EstadoServlet</servlet-name>
		<url-pattern>EstadoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GrupoProductoServlet</servlet-name>
		<url-pattern>GrupoProductoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductoServlet</servlet-name>
		<url-pattern>ProductoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProveedorServlet</servlet-name>
		<url-pattern>ProveedorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UsuarioServlet</servlet-name>
		<url-pattern>UsuarioServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

</web-app>
